<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Power BI Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-green.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
  <header class="w3-container w3-theme w3-padding w3-center">
    <h1 class="w3-xxxlarge w3-animate-bottom">Power BI Visualizations</h1>
  </header>

  <div class="w3-container w3-padding-32">
    <div class="w3-center" style="padding-bottom: 20px;">
      <img src="{{ url_for('static', filename='images/powerbi_image1.png') }}" alt="Power BI Image 1" style="width:100%; height:auto;">
    </div>
    <div class="w3-center">
      <img src="{{ url_for('static', filename='images/powerbi_image2.png') }}" alt="Power BI Image 2" style="width:100%; height:auto;">
    </div>
  </div>
</body>

</html>